html {
    background-image: url("asset/index-bg.jpg");
    background-size: cover;
}

#user-info {
    display: flex;
    align-items: center;
}

#user-avatar {
    width: 2em;
    height: 2em;
    border-radius: 50%;
    margin-right: 10px;
}

#username {
    font-weight: bold;
}

#diary {
    height: calc(95vh - 20px - max(2em, 1em + 10px));

    display: flex;
    justify-content: space-between;
}

#diary-list, #diary-edit {
    flex: auto;
    height: 100%;

    margin: 10px;

    /*border: 100px var(--section1-border-color);*/
    border-radius: 10px;
    box-sizing: border-box;
    overflow-y: scroll;
}

#diary-list {
    width: 30%;
}

.entry-date {
    font-weight: bold;
    color: var(--text1-text-color);
}

.moods {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-top: 10px;
    min-height: calc(14px + 1em);
}

.mood {
    display: flex;
    align-items: center;
    border: 1px solid var(--item1-border-color);
    border-radius: 10px;
    padding: 5px;
    color: var(--item1-text-color);
}

.mood-color {
    display: inline-block;
    height: 1em;
    width: 1em;
    border-radius: 50%;
    margin-right: 5px;
}

.diary-entry {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    /*transition: background-color 0.2s;*/
}

.entry-info {
    background-color: var(--item2-bg-color);
    border-radius: 1em;
    padding: 10px;
    flex-grow: 1;

    transition: background-color 0.2s;
}

.entry-info:hover {
    background-color: var(--item2-hover-bg-color);
}

.entry-info.selected {
    background-color: var(--item2-selected-bg-color);
}

.entry-info.selected:hover {
    background-color: var(--item2-selected-hover-bg-color);
}

.entry-info.selected .entry-date {
    color: var(--text1-selected-text-color);
}

.entry-info.selected .mood {
    color: var(--item1-selected-text-color);
}

.delete-entry {
    background-color: var(--item2-bg-color);
    display: block;
    align-self: stretch;

    border: none;
    border-radius: 1em;
    margin-left: 8px;
    cursor: pointer;
    padding: 10px 5px;

    transition: background-color 0.2s;
}

.delete-entry:hover {
    background-color: var(--item2-hover-bg-color);
}

.delete-entry svg {
    fill: var(--svg1-fill-color);

    transition: transform 0.2s;
    transition-property: background-color;
}

.delete-entry:hover svg {
    fill: var(--svg1-hover-fill-color);
}

#add-entry {
    display: block;
    width: calc(100% - 20px);
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}

.plus-sign {
    margin-right: 5px;
}

#diary-list::-webkit-scrollbar-track {
    background-color: var(--scroll1-track-bg-color);
    border-radius: 10px;
}

#diary-list::-webkit-scrollbar-thumb {
    background-color: var(--scroll1-thumb-bg-color);
    border-radius: 10px;
    border: 3px solid var(--scroll1-thumb-border-color);
}

#diary-list::-webkit-scrollbar {
    width: 12px;
}

#diary-list::-webkit-scrollbar-thumb:hover {
    background-color: var(--scroll1-thumb-hover-bg-color);
}

#diary-edit-section {
    width: 70%;
}

#diary-edit {
    display: flex;
    flex-direction: column;

    background-color: var(--item2-bg-color);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    visibility: hidden;
}

#edit-date {
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid var(--field2-border-color);
    border-radius: 5px;
    box-sizing: border-box;
}

#edit-date input {
    background-color: var(--field2-bg-color);
    color: var(--field2-text-color);
    width: calc(100% - 20px);
    padding: 8px;
}

#edit-moods {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.mood-option {
    padding: 5px 10px;
    border: 1px solid var(--button2-border-color);
    border-radius: 5px;
    background-color: var(--button2-bg-color);
    color: var(--button2-text-color);
    cursor: pointer;
    transition: all 0.2s;
    transition-property: background-color, color;
}

.mood-option.selected {
    color: var(--button2-selected-text-color);
    background-color: var(--button2-selected-bg-color);
    border-color: var(--button2-selected-border-color);
}

.mood-option:hover {
    color: var(--button2-hover-text-color);
    background-color: var(--button2-hover-bg-color);
    border-color: var(--button2-hover-border-color);
}

#edit-note {
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid var(--field2-border-color);
    border-radius: 5px;
    box-sizing: border-box;

    flex-grow: 1;
}

#edit-note textarea {
    background-color: var(--field2-bg-color);
    color: var(--field2-text-color);
    height: 100%;
    width: 100%;
    padding: 8px;
    resize: none;
    box-sizing: border-box;
}

/*#save-entry {*/
/*    display: block;*/
/*    width: 100%;*/
/*    padding: 10px;*/
/*    border: none;*/
/*    border-radius: 5px;*/
/*    background-color: #b89c84;*/
/*    color: white;*/
/*    cursor: pointer;*/
/*    transition: background-color 0.2s;*/
/*}*/

/*#save-entry:hover {*/
/*    background-color: #a38270;*/
/*}*/
