html {
    background-image: url("asset/index-bg.jpg");
}

body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.auth-container {
    display: flex;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
}

.auth-form {
    background-color: var(--item2-bg-color);
    border-radius: 10px;
    padding: 25px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.form-field {
    width: 100%;
    margin-bottom: 20px;
    position: relative;
}

.form-field label {
    display: block;
    margin-bottom: 5px;
    color: var(--text2-text-color);
}

.form-field input {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--field1-border-color);
    border-radius: 5px;
    box-sizing: border-box;
}

.required-field {
    color: #e63946;
    margin-left: 5px;
}

.toggle-password {
    position: absolute;
    right: 10px;
    top: 30px;
    border: none;
    background: transparent;
    cursor: pointer;
}

.auth-button {
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .auth-container {
        flex-direction: column;
    }
}